.mainInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 
 .poster {
 display: grid;
 grid-template-columns: repeat(3, 3fr);
 }
 
 .prog {
     margin-top: 40px;
     color: white;
 }
 
 img {
 width: 200px;
 height: 300px;
 padding: 10px;
 margin-top: 20px;
 cursor: pointer;
 }
 
 
 .textDescription {
     color: white;
 }