.totalContainer {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 80px;
}

.seatsContainer{ 
    display: grid;
    grid-template-columns: repeat(5, 100px);
}

.seatsContainer li {
    list-style:none;
    width:20px;
    line-height: 20px;
    border-radius: 20%;
    text-align: center;
    font-size: 10px;
    border: 2px solid rgb(214, 15, 15);
    padding:0%;
}

.seatsContainer li:active {
    background-color: green;
}
