.headerMain {
    background-color: var(--bg-color);
    color: var(--black);
    font-weight: bold;
    font-size: 20px;
    height: 20vh;
    box-shadow: 5px 5px 10px rgb(0 0 0 / 42%);
}

.headerMain ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    cursor: pointer;
    height: 100%;
}

.img{
    height: 5em;
}

.nav{
    color: rgb(216, 216, 216);
    transition: all 0.6s;
}

.nav:hover{
    transform: scale(1.2);
}
