.footerMain{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    height: 40%;
    justify-items: center;
}

hr{
    grid-column: 1/5;
    width: 95%;
    margin: 3em 0;
}

.footerFilms, .footerBomboniere, .footerAuditorium, .footerAbout{
    display: flex;
    flex-direction: column;
    line-height: 3em;
    align-items: flex-start;
    color: rgb(216, 216, 216);
}

.footerFilms{
    grid-column: 1/2;
}

.footerBomboniere{
    grid-column: 2/3;
}

.footerAuditorium{
    grid-column: 3/4;
}

.footerAbout{
    grid-column: 4/5;
}

.footerIcons{
    display: flex;
    grid-column: 2/4;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: row;
    list-style: none;
    font-size: 1.2em;
    color: rgb(216, 216, 216);
    padding-bottom: 2em;
}