.comingSoonMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.soon{
    color: rgb(216, 216, 216);
    font-family: sans-serif;
    text-align: center;
    width: 20%;
    margin: 0.8em 0;
    border-top: dotted 0.2em rgb(216, 216, 216);
    border-bottom: dotted 0.2em rgb(216, 216, 216);
    line-height: 3em;
    animation: animate 2s infinite;
}

.gridComingSoon{
    display: grid;
    text-align: center;
    width: 87%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-top: 2em;
    line-height: 6.5em;
}

.comingSoonFilm1{
    grid-column: 1/2;
}

.comingSoonFilm2{
    grid-column: 2/3;
}

.comingSoonFilm3{
    grid-column: 3/4;
}

.comingSoonImg{
    width: 80%;
    height: 90%;
    border-radius: 2em;
    cursor: pointer;
    transition: all 1s;
}

.comingSoonImg:hover{
    transform: scale(1.1);
}

@keyframes animate{
    from {border-top: dotted 0.2em rgb(216, 216, 216);}
    to {border-top: dotted 0.2em rgb(187, 187, 62);}

    from {border-bottom: dotted 0.2em rgb(216, 216, 216);}
    to {border-bottom: dotted 0.2em rgb(187, 187, 62);}
}